body {
  margin: 0;
  background: #000;
}

.sidebar {
  width: 6.25vw;
  background: #1B1C1F;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

.sidebar-top li {
  text-align: center;
}

.sidebar-mainlogo {
  height: auto;
  width: 3.4em;
  margin-top: 1.28em;
}

.sidebar-search {
  height: auto;
  width: 1.8em;
  margin-top: 2em;
}

.sidebar-browse {
  height: auto;
  width: 2em;
  margin-top: .55em;
}

.sidebar-radio {
  height: auto;
  width: 2em;
  margin-top: .55em;
}

.sidebar-music {
  height: auto;
  width: 1.6em;
  margin-top: .55em;
}

.sidebar-follow {
  height: auto;
  width: 1.8em;
  margin-top: .55em;
}

.icon-title {
  color: #88898C;
  font-family: "Helvetica Neue";
  font-size: 0.82em;
  margin-top: .5em;
}

.sidebar-user {
  margin-top: auto;
  align-items: center;
  flex-direction: column;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.profile {
  height: 2.6em;
  width: 2.6em;
  border-radius: 50%;
  background: url(../images/profile.jpg) center center no-repeat;
  background-size: cover;
}

.sidebar-settings {
  height: auto;
  width: 1.3em;
  margin-bottom: 0.2em;
  margin-top: .2em;
}