body {
    margin: 0;
    background: #000;
}

.sidebar {
    width: 6.25vw;
    background: #171819;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar-mainlogo {
    height: auto;
    width: 3.4em;
    margin-top: 1.28em;
}

.sidebar-search {
  height: auto;
  width: 1.8em;
  margin-top: 2.1em;
}

.sidebar-browse {
  height: auto;
  width: 2em;
  margin-top: .5em;
}

.sidebar-radio {
  height: auto;
  width: 2em;
  margin-top: .5em;
}

.sidebar-music {
  height: auto;
  width: 1.6em;
  margin-top: .5em;
}

.sidebar-follow {
  height: auto;
  width: 1.8em;
  margin-top: .5em;
}

.icon-title{
  color:#88898C;
  font-family: "Helvetica Neue";
  font-size:0.86em;
  margin-top:.6em;
}